html{
  background-color: #3e403c;
}
h1{
  color: #8aaad5;
  text-align: center;
}
p{
  text-align: center;
  background-color: rgb(205, 205, 205);
}

.text-center{
  text-align: center;
}

.square{
  width: 30%;
  background-color: green;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.highlight{
  background-color: #8aaad5;
  margin: 0 40px;
}

.highlight:hover {
  background-color:#3b5c7c;
}
.selected {
  background-color: #2498f7;
}
#colorDisplay {
  color: #8aaad5;
}
#container{
  margin: 0 auto;
  max-width: 500px;
}
